html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #000000;
  }
  .navMenu {
    display: none;
  }
  .topHeader {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
  }
  .topHeader * {
    color: #FAFAFA;
    font-family: "Poppins", sans-serif;
  }
  .discount {
    gap: 8px;
    width: 52%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 15%;
  }
  .discount p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .discount .shopNow a {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
  }
  .languageSelect .languageOptions {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    text-align: center;
    display: none;
    padding: 3px 12px 6px;
  }
  .languageSelect .languageOptions a {
    display: block;
  }
  .languageSelect .languageOptions a:hover {
    font-weight: 700;
  }
  .languageSelect a p {
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    position: relative;
  }
  .languageSelect a p i {
    font-size: 21px;
    position: absolute;
  }
  .header {
    width: 85%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header * {
    font-family: "Poppins", sans-serif;
    color: #000000;
  }
  .header .logo {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3px;
  }
  .header nav ul {
    width: auto;
    height: auto;
    display: flex;
    gap: 48px;
  }
  .header ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .header .components {
    width: auto;
    height: auto;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
  }
  .header .components i {
    font-size: 21px;
  }
  .header .search-component label {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 34px;
    border-radius: 4px;
    background-color: #F5F5F5;
  }
  .header .search-component label input {
    width: 100%;
    padding: 7px 12px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    background-color: #F5F5F5;
    outline: none;
  }
  .header .search-component label input::-moz-placeholder {
    opacity: 50%;
    color: #000000;
  }
  .header .search-component label input::placeholder {
    opacity: 50%;
    color: #000000;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #000000;
  }
  .navMenu {
    display: none;
  }
  .topHeader {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
  }
  .topHeader * {
    color: #FAFAFA;
    font-family: "Poppins", sans-serif;
  }
  .discount {
    gap: 8px;
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 5%;
    text-align: center;
  }
  .discount p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .discount .shopNow a {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;
  }
  .languageSelect .languageOptions {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    text-align: center;
    display: none;
    padding: 3px 11px 5px;
  }
  .languageSelect .languageOptions a {
    display: block;
  }
  .languageSelect .languageOptions a:hover {
    font-weight: 700;
  }
  .languageSelect a p {
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    position: relative;
  }
  .languageSelect a p i {
    font-size: 20px;
    position: absolute;
  }
  .header {
    width: 87%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header * {
    font-family: "Poppins", sans-serif;
    color: #000000;
  }
  .header .logo {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  .header nav ul {
    width: auto;
    height: auto;
    display: flex;
    gap: 44px;
    align-items: center;
  }
  .header ul li a {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .header .components {
    width: auto;
    height: auto;
    display: flex;
    gap: 22px;
    justify-content: space-around;
    align-items: center;
  }
  .header .components i {
    font-size: 20px;
  }
  .header .search-component label {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 4px;
    background-color: #F5F5F5;
  }
  .header .search-component label input {
    width: 100%;
    padding: 7px 11px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    background-color: #F5F5F5;
    outline: none;
  }
  .header .search-component label input::-moz-placeholder {
    opacity: 50%;
    color: #000000;
  }
  .header .search-component label input::placeholder {
    opacity: 50%;
    color: #000000;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
  }
  .topHeader {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
  }
  .topHeader * {
    color: #FAFAFA;
    font-family: "Poppins", sans-serif;
  }
  .discount {
    gap: 8px;
    width: 60%;
    height: auto;
    align-items: center;
    margin-left: 5%;
    text-align: center;
  }
  .discount p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
  .discount .shopNow a {
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    text-decoration: underline;
  }
  .languageSelect .languageOptions {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    text-align: center;
    display: none;
    padding: 3px 10px 5px;
  }
  .languageSelect .languageOptions a {
    display: block;
  }
  .languageSelect .languageOptions a:hover {
    font-weight: 700;
  }
  .languageSelect a p {
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    align-items: center;
    position: relative;
  }
  .languageSelect a p i {
    font-size: 20px;
    position: absolute;
  }
  .header {
    width: 92%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
  }
  .header * {
    font-family: "Poppins", sans-serif;
    color: #000000;
  }
  .header .logo {
    width: auto;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 21px;
    letter-spacing: 2px;
  }
  .header #mainNav {
    display: none;
  }
  .header .navMenu {
    font-size: 22px;
  }
  .header .components {
    width: 80%;
    height: auto;
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    align-items: center;
  }
  .header .components i {
    font-size: 20px;
  }
  .header .search-component label {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 34px;
    border-radius: 4px;
    background-color: #F5F5F5;
  }
  .header .search-component label input {
    width: 100%;
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    background-color: #F5F5F5;
    outline: none;
  }
  .header .search-component label input::-moz-placeholder {
    opacity: 50%;
    color: #000000;
  }
  .header .search-component label input::placeholder {
    opacity: 50%;
    color: #000000;
  }
}
@media screen and (min-width: 1024px) {
  .loginSection {
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 3% auto 10px;
    justify-content: space-around;
  }
  .imgSide {
    width: 57%;
    height: auto;
  }
  .imgSide img {
    width: 100%;
    height: auto;
  }
  .loginSide {
    width: 37%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .loginSide h2 {
    width: auto;
    height: auto;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 4px;
    margin-top: 15px;
    margin-bottom: 7px;
  }
  .loginSide p {
    width: auto;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .loginSide form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 25px;
  }
  .loginSide label {
    width: 100%;
    height: auto;
    gap: 8px;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 10px;
  }
  .loginSide label input {
    width: 100%;
    padding: 9px 0;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .loginSide label input::-moz-placeholder {
    opacity: 40%;
    padding: 5px;
  }
  .loginSide label input::placeholder {
    opacity: 40%;
    padding: 5px;
  }
  .loginSide .loginActions {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
  }
  .loginSide .loginActions button {
    padding: 16px 48px;
    border: none;
    border-radius: 4px;
    gap: 10px;
    background-color: rgb(219, 68, 68);
    color: white;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .loginSide .loginActions a {
    color: rgb(219, 68, 68);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .loginSection {
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 3% auto 10px;
    flex-direction: column;
  }
  .imgSide {
    width: 95%;
    height: auto;
  }
  .imgSide img {
    width: 100%;
    height: auto;
  }
  .loginSide {
    width: 95%;
    height: auto;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
  }
  .loginSide h2 {
    width: auto;
    height: auto;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 30px;
    letter-spacing: 3px;
    margin-top: 15px;
    margin-bottom: 7px;
  }
  .loginSide p {
    width: auto;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .loginSide form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 25px;
  }
  .loginSide label {
    width: 100%;
    height: auto;
    gap: 8px;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 10px;
  }
  .loginSide label input {
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .loginSide label input::-moz-placeholder {
    opacity: 40%;
    padding: 5px;
  }
  .loginSide label input::placeholder {
    opacity: 40%;
    padding: 5px;
  }
  .loginSide .loginActions {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
  }
  .loginSide .loginActions button {
    padding: 16px 48px;
    border: none;
    border-radius: 4px;
    gap: 10px;
    background-color: rgb(219, 68, 68);
    color: white;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .loginSide .loginActions a {
    color: rgb(219, 68, 68);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .loginSection {
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 3% auto 10px;
    flex-direction: column;
  }
  .imgSide {
    width: 95%;
    height: auto;
  }
  .imgSide img {
    width: 100%;
    height: auto;
  }
  .loginSide {
    width: 95%;
    height: auto;
    display: flex;
    margin-top: 12px;
    flex-direction: column;
  }
  .loginSide h2 {
    width: auto;
    height: auto;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 28px;
    letter-spacing: 3px;
    margin-top: 15px;
    margin-bottom: 7px;
  }
  .loginSide p {
    width: auto;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .loginSide form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }
  .loginSide label {
    width: 100%;
    height: auto;
    gap: 8px;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 10px;
  }
  .loginSide label input {
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .loginSide label input::-moz-placeholder {
    opacity: 40%;
    padding: 5px;
  }
  .loginSide label input::placeholder {
    opacity: 40%;
    padding: 5px;
  }
  .loginSide .loginActions {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
  }
  .loginSide .loginActions button {
    padding: 14px 40px;
    border: none;
    border-radius: 4px;
    background-color: rgb(219, 68, 68);
    color: white;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .loginSide .loginActions a {
    color: rgb(219, 68, 68);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-right: 5px;
  }
}/*# sourceMappingURL=login.css.map */